.hero{
    height: 120vh;
    width: 100%;
    justify-content: center;
    display: flex;
    background: #f2ede3;
}

.hero-content{
    max-width: 1750px;
    padding-top: 150px;
}


.hero-content h1{
    width: 54.3%;
    margin: 0 auto;
    color: #2d150d;
    text-align: center;
    line-height: .8;
    font-size: 110px;
    text-transform: uppercase;
}

.hero-content p{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Body Serif';
    font-size: 20px;
    color: rgba(45, 21, 13, .75);
    line-height: 30px;
}