header {
  position: fixed;
  width: 100%;
  max-width: 1750px;
  z-index: 7000000;
  margin-inline: auto;
  font-family: "Body Serif";
  top: 0;
  left: 0;
  margin-top: 30px;
}

.sub_header {
  display: flex;
  max-width: 1750px;
  position: relative;
  padding: 10px;
  border-radius: 12px;
  margin-inline: 20px;
  align-items: center;
  background: white;
  justify-content: space-between;
  --tw-text-opacity: 1;
  font-weight: 500;
  color: rgb(45 21 13 / var(--tw-text-opacity));
}

.links {
  display: none;
  list-style: none;
  gap: 14px;
}

.links li {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 16px;
  /* font-family: ; */
}

header::selection {
  text-decoration: none;
  background: none;
}


.menu {
  display: block;
}

.other_cta {
  display: flex;
  align-items: center;
  gap: 14px;
}

.other_cta a {
  text-decoration: none;
}

.sign_in {
  color: black;
  display: none;
}

.request {
  background: #ffde33;
  color: #2d150d;
  display: none;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 8px;
}

/*  */
.platform_details{
  width: 750px;
  padding-inline: 40px;
  transform: translateX(-50%);
  left: 50%;
  height: 440px;
  position: absolute;
  top: 60px;
  border-radius: 6px;
  background: white;
}

.solution_details{
  width: 750px;
  padding-inline: 40px;
  transform: translateX(-50%);
  left: 50%;
  height: 340px;
  position: absolute;
  top: 60px;
  border-radius: 6px;
  background: white;
}

.impact_details{
  width: 550px;
  padding-inline: 40px;
  transform: translateX(-50%);
  left: 50%;
  height: 240px;
  position: absolute;
  top: 60px;
  border-radius: 6px;
  background: white;
}

.resources_details{
  width: 650px;
  padding-inline: 40px;
  transform: translateX(-50%);
  left: 50%;
  height: 220px;
  position: absolute;
  top: 60px;
  border-radius: 6px;
  background: white;
}


/* media queries */
@media (min-width: 768px) {
  .sub_header {
    margin-inline: 40px;
  }
}
@media (min-width: 890px) {
  .links {
    display: flex;
  }

  .sign_in,
  .request {
    display: block;
  }

  .menu {
    display: none;
  }
}

@media (min-width:1024px) {
  .sub_header {
    margin-inline: 20px;
  }
}
