.slider {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .slider-track {
    display: flex;
    width: calc(300px * 12); /* 6 images * 2 (for loop) */
    /* gap: 1px; */
    animation: scroll 20s linear infinite;
  }
  
  .slide {
    width: 100%;
    margin-right: 20px;
  }

  .slide img{
    border-radius: 20px;
    width: auto;
  }
  
  .slider-track:hover {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  