*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


@font-face {
  font-family: "Smooth Serif";
  src:  url('./fonts/5609a6540bc82908-s.p.woff2') format('woff2'),
       url('./fonts/5609a6540bc82908-s.p.woff2') format('woff'),
}


@font-face {
  font-family: "Body Serif";
  src:  url('./fonts/ff710c092db72df4-s.p.woff2') format('woff2'),
       url('./fonts/ff710c092db72df4-s.p.woff2') format('woff'),
}


body{
  font-family: 'Smooth Serif';
}